{% extends 'base.html.twig' %}

{% block title %}Annonces
{% endblock %}

{% block body %}
	<h1>Annonces</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ annonce.id }}</td>
			</tr>
			<tr>
				<th>Type_logement</th>
				<td>{{ annonce.typeLogement  }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ annonce.prix }}</td>
			</tr>
			<tr>
				<th>Nbr_chambre</th>
				<td>{{ annonce.nbrChambre }}</td>
			</tr>
			<tr>
				<th>Spf_chambre</th>
				<td>{{ annonce.spfChambre }}</td>
			</tr>
			<tr>
				<th>Chambre_meub</th>
				<td>{{ annonce.chambreMeub ? 'Yes' : 'No' }}</td>
			</tr>
			<tr>
				<th>Nbr_sdb</th>
				<td>{{ annonce.nbrSdb }}</td>
			</tr>
			<tr>
				<th>Superficie</th>
				<td>{{ annonce.superficie }}</td>
			</tr>
			<tr>
				<th>Nbr_colocataire</th>
				<td>{{ annonce.nbrColocataire }}</td>
			</tr>
			<tr>
				<th>Img_1</th>
				<td>{{ annonce.img1 }}</td>
			</tr>
			<tr>
				<th>Img2</th>
				<td>{{ annonce.img2 }}</td>
			</tr>
			<tr>
				<th>Img3</th>
				<td>{{ annonce.img3 }}</td>
			</tr>
			<tr>
				<th>Img4</th>
				<td>{{ annonce.img4 }}</td>
			</tr>
			<tr>
				<th>Animaux</th>
				<td>{{ annonce.animaux ? 'Oui' : 'No' }}</td>
			</tr>
			<tr>
				<th>Animaux_chat</th>
				<td>{{ annonce.animauxChat ? 'Chat' : 'No' }}</td>
			</tr>
			<tr>
				<th>Animaux_chien</th>
				<td>{{ annonce.animauxChien ? 'Chien' : 'No' }}</td>
			</tr>
			<tr>
				<th>Animaux_rongeur</th>
				<td>{{ annonce.animauxRongeur ? 'Ronger' : 'No' }}</td>
			</tr>
			<tr>
				<th>Animaux_autres</th>
				<td>{{ annonce.animauxAutres }}</td>
			</tr>
			<tr>
				<th>Pays</th>
				<td>{{ annonce.pays }}</td>
			</tr>
			<tr>
				<th>Region</th>
				<td>{{ annonce.region }}</td>
			</tr>
			<tr>
				<th>Ville</th>
				<td>{{ annonce.ville }}</td>
			</tr>
			<tr>
				<th>Adresse</th>
				<td>{{ annonce.adresse }}</td>
			</tr>
			<tr>
				<th>Comp_adresse</th>
				<td>{{ annonce.compAdresse }}</td>
			</tr>
			<tr>
				<th>Code_postal</th>
				<td>{{ annonce.codePostal }}</td>
			</tr>
			<tr>
				<th>Date_creation</th>
				<td>{{ annonce.dateCreation ? annonce.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Pref_genre</th>
				<td>{{ annonce.prefGenre }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ annonce.description }}</td>
			</tr>
			<tr>
				<th>Fumeur</th>
				<td>{{ annonce.fumeur ? 'Yes' : 'No' }}</td>
			</tr>
		</tbody>
	</table>
	<div class="row m-3 bg-light">
		<div class="col-4 text-center">
			<img src="/images/{{annonce.user.imgAvatar}}" class="img-thumbnail m-1 w-25" alt="">
			<p>{{annonce.user.nom}}</p>
		</div>
		<div class="col-4 text-center">
		<p>{{annonce.dateCreation | date('d/m/y')}} à {{annonce.dateCreation | date('H:i')}} </p>
			<p>{{ annonce.typeLogement }}
				-
				{{annonce.nbrChambre}}
				{{(annonce.nbrChambre > 1)? 'chambres à louer' : 'chambre à louer'}}
				-
				{{annonce.superficie}}m²</p>
			<p style="color:#D8626D">{{annonce.prix}}€/mois</p>
		</div>
		<div class="col-4 text-center">
			<p>Région :
				{{annonce.region}}</p>
			<p>{{annonce.nbrChambre}}
				{{(annonce.nbrChambre > 1)? 'chambres' : 'chambre'}}
				-
				{{annonce.spfChambre}}m²</p>
			<p>Ajouter aux favoris
				<a style="text-decoration: none; color:#D8626D;" href="">&#9829;</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<img src="/images/{{annonce.img1}}" class="img-fluid m-2 w-80" alt="...">
			<div class="row">
				<div class="col-4">
				{% if annonce.img2 %}
				<img src="/images/{{annonce.img2}}" class="img-fluid m-1" alt="...">
				{% endif %}
				</div>
				<div class="col-4">
				{% if annonce.img3 %}
				<img src="/images/{{annonce.img3}}" class="img-fluid m-1" alt="...">
				{% endif %}
				</div>
				<div class="col-4">
				{% if annonce.img4 %}
				<img src="/images/{{annonce.img4}}" class="img-fluid m-1" alt="...">
				{% endif %}
				</div>
			</div>
		</div>
		<div class="col-6">
			<p>A propos du rétro-colocataire:</p>
			<p>{{annonce.description}}</p>
			<p>Ses loisirs :</p>
			<div class="row">

				{% for loisir in annonce.loisirs %}
					<div class="col-4">
						<span style="width:100% " class="badge bg-primary m-1">{{loisir.nom}}</span>
					</div>
				{% endfor %}

				<p>Equipements :</p>
				<div class="row">
					{% for equipement in annonce.equipements %}
						<div class="col-4">
							<span style="width:100% " class="badge bg-primary m-1">{{equipement.nom}}</span>
						</div>
					{% endfor %}

				</div>
			</div>

		</div>
	</div>


	<a href="{{ path('annonces_index') }}">back to list</a>
	{% if is_granted('ROLE_USER') %}
	<a href="{{ path('annonces_edit', {'id': annonce.id}) }}">edit</a>
	{{ include('annonces/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
