{% extends 'base.html.twig' %}

{% block title %}New Annonces{% endblock %}

{% block body %}
    Logement Equipements Colocataires Activités <strong>Photos</strong> Validator
    <br>
    <br>
    <hr>
    <h2>Chère Colette, c’est presque fini ! </h2>
    <p>Il est temps de télécharger 5 photos de votre lieu de vie : 
La vue extérieure, les espaces communs (salon, salle à manger, cuisine), la chambre que vous louez, ...  </p>
    <p>C’est une étape importante qui donnera envie à vos futurs colocataires de vous contacter.</p>
Ajouter une image :<br>
{{ form_start(form) }}
    {{form_widget(form.img1)}}<br>
    {{form_widget(form.img2)}}<br>
    {{form_widget(form.img3)}}<br>
    {{form_widget(form.img4)}}<br>
{{ form_end(form, {'render_rest': false}) }}
    <button class="btn">{{ button_label|default('Je télécharge les photos') }}</button>
    
    <a href="{{ path('annoncesregister/activites') }}">Etape précedente</a>
    <a href="{{ path('annoncesregister/validation') }}">Etape suivante</a>
{% endblock %} 
